MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/?retryWrites=true&w=majority
MONGODB_DATABASE=job_application_game

AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_AUDIENCE=https://api.job-application-game.com

FRONTEND_ORIGINS=["http://localhost:5173","https://the-job-rooms.vercel.app"]
